# Copie este arquivo para terraform.tfvars e preencha com seus valores
# cp terraform.tfvars.example terraform.tfvars

region_default = "us-east-1"
project_name   = "hackaton-soat11-cliptozip"
environment    = "dev"

# Network
vpc_cidr           = "10.0.0.0/16"
availability_zones = ["us-east-1a", "us-east-1b", "us-east-1c"]

# RDS
db_name           = "videodb"
db_username       = "dbadmin"
db_password       = "SuaSenhaSuperSegura123!" # MUDE ISSO!
db_instance_class = "db.t3.micro"

# Security - SEU IP PÚBLICO PARA ACESSO REMOTO
# Para descobrir seu IP: curl ifconfig.me
my_ip = "0.0.0.0/0" # IMPORTANTE: Troque por seu IP (ex: 123.456.789.0/32)
